.nav {
    font-size: 36px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-decoration:dashed
}

.description {
    font-size: 14px;
}

