


.filter-title {
    margin-bottom: 1px;
    font-size: 14px;
}

.contacts {
    font-size: 14px;
    list-style-type: circle;
    list-style-position: outside;
    display: flex; 
    justify-content: space-between;
}

.contact-list-item {
    list-style-image: url('../../images/molumen_phone_icon.svg');
    font-size: 24px;
    font-weight: 700;
}
